.header
{
    background-color:rgb(99, 163, 236);
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    
}
#a1
{
    margin-right: 120px;
    height: 350px;
}
.btn
{
    text-align: center;
    width: 350px;
   
}
.container
{
margin-top: 40px;    
}
